body{
    border-style: solid;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
    color: gray;
    background-color: cornflowerblue;
}
.container{
    border-style: solid;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; 
    color: blue; 
    margin: 12px;
    background-color: aqua;

}